@import url("https://fonts.googleapis.com/css2?family=Playfair:ital,opsz,wght@0,5..1200,300;0,5..1200,400;0,5..1200,500;0,5..1200,700;0,5..1200,800;1,5..1200,300;1,5..1200,400;1,5..1200,500;1,5..1200,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;1,200;1,300;1,400;1,500&family=Playfair:ital,opsz,wght@0,5..1200,300;0,5..1200,400;0,5..1200,500;0,5..1200,700;0,5..1200,800;1,5..1200,300;1,5..1200,400;1,5..1200,500;1,5..1200,800&display=swap");

:root {
  --BGCOLOR: #eeede8;
  --BGCONTRAST: #e2decf;
  --FONT-COLOR: #1b1c1c;
  --FONT-COLOR-LIGHT: #2f3131;
  --FONT-CONTRAST-DARK: hsla(47, 25%, 85%, 0.945);
  --SECOND_COLOR: #d90d15;
  --DARK_COLOR: #8c1812;
  --FONTTITLE: "Playfair", sans-serif;
  --FONTTEXT: "Montserrat", sans-serif;
  --CLEAR : #ffffff;
  --BORDERS_BTN : [
border-right: 3px solid var(--FONT-COLOR);
border-bottom: 3px solid var(--FONT-COLOR);
border-left: 3px solid var(--SECOND_COLOR);
border-top: 3px solid var(--SECOND_COLOR);
  ]
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  height: 100vh;
  width: 100vw;
  background-color: var(--CLEAR);
  font-family: var(--FONTTEXT);
  color: var(--FONT-COLOR);
  overflow-x: hidden;
  overflow-y: scroll;  
}
header {
  position: fixed;
  width: 100%;
  height: 8vh;
  background-color: var(--BGCOLOR);
  /* background-image: url("../img/logo.svg"); */
  background-position: center center;
  background-repeat: no-repeat;
}
main{
  height: 87%;
  margin-top: 13vh;
}
h3 {
  font-family: var(--FONTTITLE);
}
a{
  color: var(--FONT-COLOR-LIGHT);
  transition: all .3s ease-in-out;
}
a:hover{
  color: var(--DARK_COLOR);
}
/*-------------hidden------------- */
.hidden{
  display: none;
}

/*-------------grid------------- */
.grid-3{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
/*-------------Fit------------- */
.fit{
  height: fit-content;
}
/*-------------Welcome------------- */
#welcome{
margin-top: 10%;
height: 50vh;  
background-image: url("../img/logo.svg");
background-repeat: no-repeat;
background-position:  center center;
}
#welcome h2{
  left: 63%;
  top: 10%;
}

/*-------------Titre------------- */
.titre{
  color: var(--SECOND_COLOR);
  line-height: 1.5rem;
  text-transform: uppercase;
  letter-spacing: 1.2rem;
  font-weight: bolder;
}
.titre-var{
  letter-spacing: .3rem;
}

/*-------------Boutons Valider------------- */
.bouton-valider{
float: right;
width: max-content;
padding: 10px 15px;
background-color: var(--BGCONTRAST);
color: var(--FONT-COLOR);
border-radius: 2%;
border: 1px solid var(--FONT-COLOR);
}

/*-------------menu------------- */
nav {
  position: fixed; 
  display: flex;
  justify-content: space-between;
  top: 8vh;
  width: 100%;
  height: 5vh;
  background-color: var(--BGCOLOR);
  text-align: center;
  padding-top: 10px;
}
nav ul {
   height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 0;
  padding: 0;     
}
nav ul li {
  height: 100%;
  flex: 1; 
  display: flex; 
  justify-content: center;
  align-items: center;
  height: 100%;
}
nav ul#second-list li{
  align-items: flex-end;
}
nav ul li a {
  height: 100%;
  color: var(--FONT-COLOR-LIGHT);
  padding : 0 20px 0 20px; 
  align-items: center;
}
nav ul li a:hover {
  opacity: 70%;
}
/*-------------Logo------------- */
#logo {
  width: 22%;
  height: 5vh !important;
}

/*-------------connexion------------- */
.form {
  color: var(--FONT-COLOR-LIGHT);
  border: none;
  padding: 5px;
  background-color: var(--BGCOLOR);
  border: 3px solid var(--BGCONTRAST);

}
.form-var{
  border-top: 5px solid var(--SECOND_COLOR);
  border-left: 5px solid var(--SECOND_COLOR);
}
#connexion-form input,
#reset-password-form input {
  width: 70%;
  background-color: var(--CLEAR)!important;
}

/*-------------description------------- */
.description{
  width: 100%;
  min-height : 300px;
}

/*-------------img-container------------- */
.img-container img{
  max-height: 100%;
  max-width: 100%;
}